<!DOCTYPE html>
<html lang="en-CA">
  <head>
    <meta charset="utf-8">
    <title>SYC LINK</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <header id="page_header">
        <h1>SYC LINK</h1>
    </header>
    <div class="container">
      <section id="tags">
        
          <article class="tag">
            <header>
              <h2 id="tag_Web
">Web
</h2>
            </header>
            <table>
              <thead>
                <tr><th>URL</th><th>Description</th></tr>
              </thead>
              <tbody>
                
                  <tr>
                    <td width="30%"><a target="_blank" href="http://example.com">
                        Example</a>
                    </td>
                    <td>An example website</td>
                  </tr>
                
              </tbody>
            </table>
          </article>
        
          <article class="tag">
            <header>
              <h2 id="tag_Sales
">Sales
</h2>
            </header>
            <table>
              <thead>
                <tr><th>URL</th><th>Description</th></tr>
              </thead>
              <tbody>
                
                  <tr>
                    <td width="30%"><a target="_blank" href="http://syc.dyndns.org:8080">
                        Secondhand</a>
                    </td>
                    <td>Kinderkleider- und Spielzeugbörse</td>
                  </tr>
                
              </tbody>
            </table>
          </article>
        
          <article class="tag">
            <header>
              <h2 id="tag_Development
">Development
</h2>
            </header>
            <table>
              <thead>
                <tr><th>URL</th><th>Description</th></tr>
              </thead>
              <tbody>
                
                  <tr>
                    <td width="30%"><a target="_blank" href="http://syc.dyndns.org:8081">
                        Apptrack</a>
                    </td>
                    <td>Application tracking made easy</td>
                  </tr>
                
                  <tr>
                    <td width="30%"><a target="_blank" href="https://github.com">
                        Github</a>
                    </td>
                    <td>Public Git repository</td>
                  </tr>
                
              </tbody>
            </table>
          </article>
        
      </section>
      <section id="sidebar">
        <article class="tag_list">
          <header class="tag_list">
            <h2>Tags</h2>
          </header>
          <ul>
            
              <li><a href="#tag_Development
">Development
</a>
            
              <li><a href="#tag_Sales
">Sales
</a>
            
              <li><a href="#tag_Web
">Web
</a>
            
          </ul>
        </article>
      </section>
    </div>
    <footer id="page_footer">
      <ul>
        <li>Copyright &copy; 2015 Sugar Your Coffee</li>
        <li>Created at 2015-06-30 00:04:59 +0200 by syclink</li>
      </ul>
    </footer>
  </body>
</html>
